html{
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: cursive;
  font-weight: bold;
}

*, *:before, *:after{
    box-sizing: inherit;
}

a{
  text-decoration: none;
}

.contenedor{
  margin: 0 auto;
  background-color: #ebebeb;
}

.boton {

}
