<nav class="navbar">
  <div class="logo">
    <img src="assets/lemon-logo.png" alt="Logo" />
    <span>JAVE</span>
  </div>

  <ul class="menu">
    <li><a href="#">INICIO</a></li>
    <li><a href="#">¿QUIENES SOMOS?</a></li>
    <li class="dropdown">
      <a href="#">TIENDA <span>&#9660;</span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Producto 1</a></li>
        <li><a href="#">Producto 2</a></li>
        <li><a href="#">Producto 3</a></li>
      </ul>
    </li>
    <li><a href="#">CONTACTO</a></li>
  </ul>

  <div class="search">
    <i class="fa fa-search"></i>
  </div>
</nav>
